:root {
    --primary-color: rgb(255, 0, 255);
    --secondary-color: rgb(0, 255, 255);
    --dark-mode-background: rgb(25, 25, 25);
    --dark-mode-text: rgb(255, 255, 255);
    --light-mode-background: rgb(255, 255, 255);
    --light-mode-text: rgb(0, 0, 0);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dark-mode-background);
    color: var(--dark-mode-text);
    margin-top: 5%;
}

body.light-mode {
    background-color: var(--light-mode-background);
    color: var(--light-mode-text);
}

body.dark-mode {
    background-color: var(--dark-mode-background);
    color: var(--dark-mode-text);
}

.centerText {
    text-align: center;
    margin:auto;
    font-size: large;
}

.navbar {
    background-color: var(--primary-color);
    position: absolute;
    top: 1%;
    left: 0.5%;
    width: 99%;
    border-radius: 10px;
}

.navbar a {
    float: left;
    font-size: large;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 0.5%;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: var(--secondary-color);
}

.navbar-right {
    float: right;
}

.button {
    background-color: var(--primary-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    text-decoration: none;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shutterButton {
    border-radius: 100%;
    padding: 20px;
    font-size: xx-large;
    box-shadow: #666 0 0 10px;
    border-style: solid;
    border-color: #333;
    border-width: 2px;
    background-color: #BBB;
}

#themeToggleButton {
    position: absolute;
    right: 0.5%;
    top: 1%;
    font-size: xx-large;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

.splash-text {
    position: absolute;
    right: 5%;
    top: 17.5%;
    transform: rotate(30deg);
    font-size: large;
}

#victorySign {
    font-size: xx-large;
    color: var(--primary-color);
    text-align: center;
}

.ConfettiDiv {
    position: absolute;
}

.ConfettiCanvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}

.loginform {
    text-align: center;
}

.loginform input[type=text], input[type=password] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginform button {
    background-color: var(--primary-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

.loginform button:hover {
    opacity: 0.8;
}
.container {
    display: flex;
    padding: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    border-radius: 10px;
    margin: auto;
    margin-top: 3%;
}

.video-container,
.chart-container {
    flex: 1;
    margin: 0 8px;
    padding: 1%;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard {
    width: 80%;
}

.prediction-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    border: #333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.prediction-details p {
    text-align: left;
}

.prediction-details select {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#boxCanvas {
    position: fixed;
}

#video {
    width: 40%;
    height: auto;
    object-fit: cover; /* Ensure the video covers the container while maintaining aspect ratio */
}

@media screen and (max-width: 748px) {
    body {
        margin-top: 15%;
    }
    
    .navbar a {
        padding: 3%;
        padding-right: 1%;
    }

    #themeToggleButton {
        padding-right: 2%
    }

    .loginform input[type=text], input[type=password] {
        width: 50%;
    }

    .loginform button {
        width: 50%;
    }


    .video-container {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }
    #video {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        width: 80%;
    }

    .splash-text {
        display: none;
    }

    .leaderboard {
        width: 80%;
        float: left;
    }

    #classSelect {
        width: 50%;
    }

    .button {
        width: 50%;
    }


}
