{% extends 'base.html' %}

{% block title %}Image{% endblock title %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <script src="{{ url_for('static', filename='chart.js') }}"></script>
        <script src="{{ url_for('static', filename='image.js') }}"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="center">
            <h1>Image Classification{% if session['is_competing'] %} - Contending{% endif %}</h1> 
        </div>        
        <div class="container">
            <div class="video-container">
                <video src="" autoplay id="video"></video>
            </div>
            <div class="chart-container">
                <canvas id="confidenceChart"></canvas>
                
            </div>
        </div>
        <div class=prediction-details>
            <div>
                <div id="predicted">Predicted Class: N/A</div>
                <div id="predicted-confidence">Confidence: N/A</div>
                <div id="progressText">Ready...</div>
            </div><br>
            <div class="buttonFooter">

                <button class="shutterButton" id="shutterButton">
                    <i class="fa-solid fa-camera"></i>
                </button>
                <button class="shutterButton" id="swapButton">
                    <i class="fa-solid fa-camera-rotate"></i>
                </button>
    
            </div>
        </div>
        
    </body>
    </html>
{% endblock %}